html, body{
    /* border: 1px solid red; */
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(blue, lightblue, rgba(24, 23, 23, 0.3));
   
    
}
.main{

    height: 100vh;
}

header{
    margin: 20px 30px;
    text-align: center;
    /* border: 1px solid green; */
    box-shadow: 5px 5px 15px 5px #242121;
}

select{
    font-size: 1rem;
}

div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-content{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    padding-left: 3vw;
    padding-right: 3vw;

    /* border: 1px solid blue; */
}

.column{
    flex: 1;
    /* border: 2px solid green;  */
    text-align: center;
    
}

ul{
    margin-top: 20%;
    list-style: none;
    text-align: left;
}

img{
    height: auto;
    /* give image a max allowed width or height*/
    
    max-width: 500px;
    max-height: 300px;
    box-shadow: 5px 5px 15px 5px #242121;

}

span{
    font-weight: 700;
    /* text-decoration: underline; */
}

.name{
    font-size: 2rem;

}